body{
    background-color: rgb(36, 36, 82);
    font: normal 15px Arial;
}

header{
    color: aliceblue;


}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 363);
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;

}

div{
    text-align: center;
    padding: 10px;
}

#imagem {
    border-radius: 80%;
    
}
.foto {
    border-radius: 50%;
}