body{
    background-color: aquamarine;
    font: normal 15pt Arial;
}

header{
    color: rgb(7, 7, 73);
    text-align: center;
}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: rgb(7, 7, 73);
    text-align: center;
    font-size: italic;
}